rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admin email - must match the email in AuthContext.jsx
    function isAdmin() {
      let adminEmails = [
        'amzadraja12@gmail.com',
        'amzadraja123@gmail.com'
        // Add more admin emails here
      ];
      return request.auth != null && request.auth.token.email in adminEmails;
    }
    
    // Allow read for everyone (authenticated or not)
    match /users/{userId} {
      allow read: if true;
      allow update: if true;
      // Only admin can create, update (delete) users
      allow create: if isAdmin();
      
      allow delete: if isAdmin();
    }
  }
}
